---
import Head from '../../components/head.astro'
import PageBanner from '../../components/page-banner.astro'
import PageFooter from '../../components/page-footer.astro'
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>NetBASILISK Project Use Cases - NSF Award Number: 1925476</title>

<Head />

</head>

<body>

<PageBanner />

<div class="container-main" role="main">

	<div class="page">

		<h1>NetBASILISK Project Use Cases - NSF Award Number: 1925476</h1>

		<p>The project team has identified four distinct science drivers to initially participate. The use cases the NetBASILISK project will work with include:</p>

		<h2>The ATLAS Collaboration</h2>

		<p>This collaboration generates 10’s of Petabytes of data per year, accessed and analyzed by physicists all over the world. Reliably and efficiently moving data into and out of the distributed computing sites is critical to using these resources effectively to advance Large Hadron Collider (LHC) scientific goals. The University of Michigan is one of many institutions, globally, that support ATLAS by providing computing resources for the analysis. Dr. Shawn McKee, AGLT2 Director and Research Scientist and Physics at the College of Literature, Science and the Arts at the University of Michigan, is Co-Principal Investigator on NetBASILISK project and intends to test how NetBASILISK can address current issue of security devices significantly impeding the ability of the LHC community to pursue its scientific goals. ATLAS Great Lakes <span class="nobr">Tier-2 (AGLT2) Center will be used as a representative, at-scale testbed. If NetBASILISK can demonstrate the ability to secure our research networks while maintaining high performance, there is strong interest from the ATLAS and LHC communities in adopting this as a recommended site design pattern.</p>

		<h2>Cryo-EM</h2>

		<p>Dr. Michael Cianfrocco is a professor in the Life Sciences Institute (LSI) and the Department of Biological Chemistry at the University of Michigan. His lab investigates the molecular details that determine how, where, and when motor proteins transport intracellular cargo to better understand their role in human health and disease. As a fast-growing part of structural biology, cryo-electron microscopy <span class="nobr">(cryo-EM) is determining new and exciting macromolecular structures on a seemingly daily basis. Despite its power, <span class="nobr">cryo-EM is a field that needs to undergo rapid maturation to allow for new users to come into the fold to solve structures. Unlike other structural biology tools, cryo-EM necessarily requires access to high-performance computing capabilities due to the data-intensive nature of experiments. These datasets need to be preprocessed and analyzed using computing facilities within and outside of the university campus. To address these problems, Dr. Cianfrocco’s lab is building new computational workflows that are being deployed locally and on remote computer resources (e.g. Amazon Web Services and the San Diego Supercomputer Center) to help give users access to <span class="nobr">cryo-EM so they can focus on understanding biology instead of dealing with Linux.</p>

		<h2>Internet Wide Measurement</h2>

		<p>Understanding the security-critical behaviors of heterogeneous systems and networks that make up the Internet requires new techniques for collecting and analyzing measurement data at Internet-wide scale. Dr. Alex Halderman, professor of Computer Science in the University of Michigan, College of Engineering, developed the ZMap scanner 31 , a security measurement tool that is capable of performing Internet-wide network surveys at 10 Gbps line-rate and beyond. Using ZMap and other active and passive measurement techniques, Prof. Halderman’s group has worked to discover new cryptographic weaknesses, track down criminal botmasters, understand the impact of major vulnerabilities such as Heartbleed, and develop new strategies to improve mitigation and patching. Hundreds of research groups around the world make use of Internet-wide scan data that Prof. Halderman’s team collects and publishes from <span class="nobr">U-M. Internet-wide scanning present a special challenge for NetBASILISK as the traffic is very high volume and may superficially resemble malicious activity. Since any disruption to probes or responses could invalidate the collected research data, the ZMap team will collaborate closely with the NetBASILISK effort to confirm that no interference is taking place.</p>

		<h2>Refraction Networking</h2>

		<p>Refraction Networking is a multi-institutional network research collaboration exploring the mechanisms to bypass online censorship. NetBASILISK presents an ideal opportunity to deploy it on a campus-scale testbed. The envisioned NetBASILISK architecture aligns perfectly with the two main requirements for a Refraction testbed: the ability to perform deep-packet inspection on incoming traffic, and the ability to block selected flows at close to line-rate.</p>

	</div>
	
</div>

<PageFooter />

</body>
</html>