---
import Head from '../components/Head.astro'
import PageBanner from '../components/page-banner.astro'
import PageFooter from '../components/page-footer.astro'
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>About NetBASILISK - NSF Award Number: 1925476</title>

<Head />

</head>

<body>

<PageBanner/>

<div class="container-main" role="main">

	<div class="page">

		<h1>About NetBASILISK - NSF Award Number: 1925476</h1>

		<h2>Project Team</h2>

		<ul>
			<li><strong>Eric Boyd</strong>, Principal Investigator (PI)<br>
			<em>Director of Networks, Information Technology Services at the University of Michigan</em></li>
			<li><strong>Dr. Alex Halderman</strong>, Co-Principal Investigators (Co-PI)<br>
			<em>Director of the Center for Computer Security &amp; Society at the University of Michigan and professor of Computer Science and Engineering at the College of Engineering at the University of Michigan</em></li>
			<li><strong>Dr. Shawn McKee</strong>, Co-Principal Investigators (Co-PI)<br>
			<em>Director of <a href="https://www.aglt2.org/people.php">AGLT2</a> and professor of Research Science and Physics at the College of Literature, Science, and the Arts at the University of Michigan</em></li>
			<li><strong>Dr. Michael Cianfrocco</strong>, Researcher<br>
			<em>Professor of Life Sciences at the Life Sciences Institute and Department of Biological Chemistry at the University of Michigan Medical School</em></li>
		</ul>

		<p>This project team seeks to prototype and deploy in production a network border security solution capable of supporting unfettered network traffic at 4x100 Gbps using a mix of commercial offerings and locally developed middleware. The University of Michigan solution is a framework that combines open source and proprietary components, which significantly improves system performance and accuracy in detecting and preventing threats to institutional data. This project will inform the design of advanced network security devices for universities that scale to accommodate the network traffic requirements of data intensive science.</p>

		<h2>Broader Impact of the NetBASILISK Project</h2>

		<ul>
			<li>Inform the design of scientific infrastructure</li>
			<li>Influence design of the next generation of network monitoring software</li>
			<li>For broader research and education networking community provide a package (software + documentation + policy recommendations) to easily and flexibly implement:
			<ul>
				<li>Platform components</li>
				<li>Insights about traffic flows, network performance, and the effects of automation (at an extremely large scale)</li>
				<li>Understanding of how data-intensive science drives use cases for scalable network security, analysis, rapid performance management, and automated configuration of network components</li>
			</ul>
			</li>
		</ul>

		<p>NetBASILISK will create a secure network perimeter while facilitating science such as cryo-electron microscopy, Large Hadron Collider particle research, and non-distorted Internet measurement, as well as enabling innovative network enhancements such as technologies to circumvent web censorship. See <a href="/more">NetBASILISK Project Use Cases</a> for more information.</p>

	</div>

</div>

<PageFooter/>

</body>
</html>