---
import Head from '../components/head.astro'
import PageBanner from '../components/page-banner.astro'
import PageFooter from '../components/page-footer.astro'
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>NetBASILISK Events - NSF Award Number: 1925476</title>

<Head />

</head>

<body>

<PageBanner />

<div class="container-main" role="main">

	<div class="page">

		<h1>NetBASILISK Events - NSF Award Number: 1925476</h1>
	
		<h2>Recent and Upcoming Events</h2>

		<ul>
			<li><a href="https://www.youtube.com/watch?v=vr2VOGYEstY">CI Engineering Lunch &amp; Learn Series, June 11, 2021: “Benchmarking NetBASILISK: a Network Security Project for Science</a>”</li>
			<li>Internet2 Community Voices, August 12, 2021: “Network Routing Security at Scale at the University of Michigan”</li>
			<li>CC* Talk</li>
			<li>ITS Symposium</li>
		</ul>

		<h2>2019-2020 Past Events</h2>

		<ul>
			<li><a href="https://www.youtube.com/watch?v=3zpgsY5Wq6g">EPOC - Engagement Performance Operations Center / ESnet, April 20, 2020: NetBasilisk @ The University of Michigan</a></li>
			<li>WLCG Security Operations Centre WG Workshop in Amsterdam, October 21-23 2019: NetBASILISK: <a href="https://indico.cern.ch/event/827985/contributions/3577338/attachments/1929638/3195642/NetBASILISK__A_Project_Overview.pdf">NetBASILISK_ A Project Overview.pdf</a></li>
			<li>SC19 Denver, CO, November 18-20, 2019: <a href="https://drive.google.com/file/d/1xRc9vh5a5Fm6XZradiFwjoOhOKZb2PsI/view">NetBASILISK_ A Project Overview.pdf</a></li>
			<li>University of Michigan IT Symposium, Ann Arbor, MI, November 25-26, 2019: Posterdownload to your drive from <a href="https://drive.google.com/drive/folders/1YDObn8isnedB8A2oy7ZQhWR_pZU-ac9E">2020 annual report</a> NetBASILISK poster - 2019 Michigan IT Symposium</li>
			<li>Internet2 TechEx 2019, New Orleans, LA, December 9-12, 2019: Presentation and Workshops <a href="https://meetings.internet2.edu/2019-technology-exchange/detail/10005519/">Network Border Infrastructure Security: Intelligence-based Threat Mitigation at Scale | 2019 Technology Exchange</a> and <a href="https://meetings.internet2.edu/media/medialibrary/2019/12/11/20191211-Boyd-Network-Border-Infrastructure-Security.pdf">Eric L. Boyd, University of Michigan For the NetBASILISK collaboration</a></li>
		</ul>

		<p><strong>Journals / Juried Conference Papers:</strong></p>

		<p><a href="https://www.epj-conferences.org/articles/epjconf/abs/2021/05/epjconf_chep2021_02068/epjconf_chep2021_02068.html?fbclid=IwAR1ezssE883w2xkktbF066w6KBGwVQgUOiASHn9H5xvj_EYKhF--OHXJ0N0">Benchmarking NetBASILISK: a Network Security Project for Science</a> - Jem Gunhit</p>

		<p>EDP Sciences, 23 Aug. 2021</p>
			
	</div>

</div>

<PageFooter />

</body>
</html>