---
import Head from '../components/head.astro'
import PageBanner from '../components/page-banner.astro'
import PageFooter from '../components/page-footer.astro'
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>Get Involved with the NetBASILISK Project - NSFAward Number: 1925476</title>

<Head />

</head>

<body>

<PageBanner />

<div class="container-main" role="main">

	<div class="page">

		<h1>Get Involved with the NetBASILISK Project - NSFAward Number: 1925476</h1>
	
		<p>Please email <a href="mailto:ericboyd@umich.edu">ericboyd@umich.edu</a></p>

		<p>Code repository: <a href="https://github.com/NetBASILISK">https://github.com/NetBASILISK</a></p>
			
	</div>

</div>

<PageFooter />

</body>
</html>