---
import Head from '../components/Head.astro'
import PageBanner from '../components/page-banner.astro'
import PageFooter from '../components/page-footer.astro'
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>ITS: Information and Technology Services</title>

<Head/>

</head>

<body>

<a href="#main-content" class="visually-hidden focusable">Skip to main content</a>

<div class="container-hero">
	<div class="hero">
		<p><img class="logo" src="/its-netbasilisk/netbasilisk-white.png" alt="NetBasilisk"/></p>
		<p>NETwork Border At Scale Integrating and Leveraging Individual Security Components</p>
		<p><a href="#main-content"><i class="fas fa-3x fa-chevron-circle-down"><span class="sr-only">Read more</span></i></a></p>
	</div>
</div>

<a id="main-content"></a>

<PageBanner/>

<div class="container-main" role="main">

	<div class="page">

		<h2>NETwork Border At Scale Integrating and Leveraging Individual Security</h2>

		<p>Network security and network performance are critical to the research, teaching, and learning missions of the higher education community. Attackers continue to develop more sophisticated tools to gain access to student and faculty private data, institutional financial information, and proprietary, often classified, research information, and it is increasingly important for IT staff to detect and prevent these attacks. Because protecting the university’s mission while maintaining privacy expectations and high capacity networks are often at odds, threat prevention systems do not scale to the growing volume of research data at an affordable cost.</p>

		<p>NetBASILISK, the NETwork Border At Scale Integrating and Leveraging Individual Security Components project lead by researchers and network engineers at the University of Michigan, seeks to address the challenge of providing highly performant and secure network connections that support data intensive science and high bandwidth network research. Their goal is to enable researchers and network engineers at the University of Michigan to introduce the next level of security and privacy protection with a minimal impact on the speed or volume of network traffic. This project was awarded a <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1925476&amp;HistoricalAwards=false">National Science Foundation (NSF)&nbsp;grant </a>for this work.&nbsp;</p>

		<p>From a network operations perspective, the NetBASILISK project aspires to:</p>

		<ul>
			<li>Advance traffic analysis and configuration automation for extremely large scale networks</li>
			<li>Gain new operational insights about traffic flows, network performance, and the effects of automation</li>
			<li>Deliver best practices and platform components for use by the broader research and education networking community</li>
		</ul>

		<p>From a scientific use case perspective, the NetBASILISK project aspires to demonstrate that secure, at scale networks can be built to:</p>

		<ul>
			<li>Connect researchers and local compute and storage infrastructure with remote, off-premise instruments</li>
			<li>Integrate local, on-premise instruments with remote collaborators and commercial cloud offerings</li>
			<li>Enable Internet measurement and monitoring without distorting quantifiable results</li>
			<li>Create a platform for innovative network enhancements (online censorship circumvention using Refraction Networking)</li>
		</ul>

	</div>

</div>

<PageFooter/>

</body>
</html>