---
import Head from '../components/head.astro'
import PageBanner from '../components/page-banner.astro'
import PageFooter from '../components/page-footer.astro'
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>NetBASILISK News - NSF Award Number: 1925476</title>

<Head />

</head>

<body>

<PageBanner />

<div class="container-main" role="main">

	<div class="page">

		<h1>NetBASILISK News - NSF Award Number: 1925476</h1>
	
		<p>The <a href="https://www.nsf.gov/">National Science Foundation (NSF)</a> funds research and education in science and engineering, through grants, contracts, and cooperative agreements. On August 9, 2019 it was announced that the NetBASILISK project was awarded a grant in the amount of $999,715.</p>

		<p><strong>Additional News:</strong></p>

		<ul>
			<li><a href="https://record.umich.edu/tags/netbasilisk/">University of Michigan Record, January 28, 2020: Grant to help U-M develop secure, high-capacity research network</a></li>
			<li><a href="https://twitter.com/umicharc/status/1196883366169071616?lang=bg">University of Michigan ARC Super Computing 2019 Twitter Announcement</a></li>
		</ul>

		<p><strong>Other Collaborations:</strong></p>

		<ul>
			<li>NetBASILISK team is embarking on the future collaboration with NSF sponsored multi institutional <a href="https://fabric-testbed.net/">FABRIC Research Infrastructure project</a> by assisting in the i of FABRIC nodes at University of MIchigan Ann Arbor location.</li>
		</ul>

	</div>

</div>

<PageFooter/>

</body>
</html>