<header class="container-header">

	<div class="banner">
		<div><a href=".#main-content"><img class="logo" src="netbasilisk-color.png" alt="NetBASILISK"/></a></div>
	</div>
	
	<div class="navigation" role="navigation">
		<a class="mobilebutton" role="button" aria-label="menutoggle" aria-expanded="false" href="javascript:link()">
			<span class="sr-only">Main Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<ul>
			<li><a href="/about">About</a></li>
			<li><a href="/news">News</a></li>
			<li><a href="/events">Events</a></li>
			<li><a href="/get-involved">Get Involved</a></li>
		</ul>
	</div>

</header>