<footer class="container container-footer">

	<div class="footer region-footer">
	
		<div class="um-logo"><img src="um-logo-m218.png" alt="University of Michigan"/></div>

		<div class="footer-links">

			<ul>
				<li><a href="https://umich.edu/">University of Michigan</a></li>
				<li><a href="https://its.umich.edu/">Information and Technology Services</a></li>
			</ul>

		</div>
	
	</div>
	
</footer>