/**
 * Place your custom styles here.
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900i');

html{
	scroll-behavior:smooth;
	overflow-y:scroll;
	font-size:100%;
}
@media screen and (prefers-reduced-motion:reduce) {
	html {
		scroll-behavior:auto;
	}
}

body {
	margin:0;
	padding:0;
	background:#eff0f1;
	font-size:1em;
	font-family:Montserrat,Arial,Helvetica,sans-serif;
	color:#333333;
	line-height:1.5em;
}

.page-header {
	margin:0;
	padding:0;
	border:0;
}
body.front h1.page-header {
	position:absolute;
	left:-999999px;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
	margin:1em 0 .5em 0;
	font-weight:700;
	line-height:1.3;
}
h1.page-header {
	margin:0 0 1em 0;
	font-weight:700;
	color:#24687a;
	line-height:1.3;
}
.field--item h2:first-child {
	margin-top: 0;
}

a, a:link {
	color:#0d57aa;
}
a:focus {
	background:#24687a;
	color:#ffffff;
}

.hero {
	min-height:100vh;
	margin:0;
	padding:20px;
	background-color:#042630;
	background-image:url('../images/network-nodes-bg.jpg');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	font-size:1.25em;
	color:#ffffff;
	line-height:1.5;
	text-align:center;
}
.hero p {
	margin:2rem 0 2rem 0;
}
.hero img {
	width:100%;
	max-width:700px;
	height:auto;
	margin:30vh auto 0 auto;
}
@media (max-width:768px) {
	.hero {
		background-size:cover;
		background-attachment:scroll;
	}
	.hero img {
		margin:25vh auto 0 auto;
	}
}
.hero a {
	transition: all .3s ease-in-out;
}
.hero a:link, .hero a:visited {
	color:#ffffff;
}
.hero a:hover, .hero a:focus {
	color:#ffcb05;
	outline:none;
}

.dialog-off-canvas-main-canvas {
	min-height:100vh;
}

.navbar.container {
	width:100%;
	max-width:100%;
	margin:0;
	padding:0;
	border:0;
	border-bottom:1px solid #cccccc;
	background-color:#fffefe;
}
.navbar.container .navbar-header {
	width:100%;
	max-width:1280px;
	margin:0 auto 0 auto;
	padding:0;
	float:none;
	text-align:center;
}
#block-netbasilisk-search {
	display:none;
}
.block-search-form-block .form-group {
	margin:0;
}
.navbar.container .navbar-header .logo.pull-left {
	float:none !important;
	margin:40px 20px 40px 20px;
	padding:0;
	display:block;
}
@media (max-width:767px) {
	.navbar.container .navbar-header .logo.pull-left {
		margin:20px;
	}
}
.navbar.container .navbar-header .logo img {
	width:100%;
	max-width:700px;
	height:auto;
	margin:0 auto 0 auto;
}
#block-bannerblock {
	margin:40px 20px 40px 20px;
	padding:0;
	display:block;
}
@media (max-width:767px) {
	#block-bannerblock {
		margin:20px;
	}
}
#block-bannerblock a {
	display:inline-block;
}
#block-bannerblock a:focus {
	background:inherit;
}
#block-bannerblock img {
	width:100%;
	max-width:700px;
	height:auto;
	margin:0 auto 0 auto;
}
.navbar.container .region-navigation-collapsible {
	max-width:1240px;
	margin:0 auto 0 auto;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border:0;
}
.navbar-nav {
	float:none;
}
.navbar-nav > li {
	float:none;
}
.navbar-nav > li.first {
	display:none;
}
.navbar-nav > li.first span:before {
/*	content:'\f015\00a0';
	font-family:'Font Awesome 6 Pro';
	line-height:1;*/
}
.nav > li > a {
	padding:10px;
}
.nav > li > a:hover, .nav > li > a:focus {
	color:#ffffff;
	background-color:#24687a;
}

.navbar-default .navbar-toggle {
	float:left;
	padding:10px;
	margin:0 20px 1rem 20px;
	border:0;
	background-color:#24687a;
	color:#ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color:#757575;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:#ffffff;
}

.navbar.container .region-navigation-collapsible ul {
	margin:0;
	padding:0;
	list-style:none;
	display:flex;
	flex-wrap:wrap;
}
.navbar.container .region-navigation-collapsible ul li {
	flex:1 0 20%;
}
.navbar.container .region-navigation-collapsible ul li a {
	display:block;
	margin:0;
	padding:10px;
	border-bottom:5px solid transparent;
	font-weight:bold;
	color:#333333;
	text-align:center;
	text-decoration:none;
	transition: border .3s ease-in-out;
}
.navbar.container .region-navigation-collapsible ul li a:hover, .navbar.container .region-navigation-collapsible ul li a:focus {
	border-bottom:5px solid #ffcb05;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a.is-active, .navbar-default .navbar-nav > .active > a.is-active:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:transparent;
	border-bottom:5px solid transparent;
	color:#757575;
}
@media (max-width:767px) {
	.navbar.container .region-navigation-collapsible ul li {
		flex:0 0 100%;
	}
	.navbar.container .region-navigation-collapsible ul li a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a.is-active, .navbar-default .navbar-nav > .active > a.is-active:hover, .navbar-default .navbar-nav > .active > a:focus {
		padding:1em 20px 1em 20px;
		border-bottom:0;
		text-align:left;
	}
	.navbar.container .region-navigation-collapsible ul li a:hover, .navbar.container .region-navigation-collapsible ul li a:focus {
		border-bottom:0;
		background-color:#ffcb05;
	}
}

.breadcrumb {
	margin:0 0 1rem 0;
	padding:10px 0 10px 0;
	background-color:transparent;
	border-radius:0;
	font-size:.8rem;
}
.breadcrumb li:first-of-type a:before {
	content:'\f015\00a0';
	font-family:'Font Awesome 6 Pro';
	font-weight:900;
	line-height:1;
}
.breadcrumb > li + li::before {
	margin:0;
	padding:0;
	content:'\00a0/\00a0';
	content:'\00a0\025b8\00a0';
	color:#333333;
}
.breadcrumb a {
	color:#333333;
}
.breadcrumb a:hover {
	color:#23527c;
	text-decoration:none;
}
.breadcrumb a:focus {
	color:#ffffff;
	text-decoration:none;
}
.breadcrumb .active {
	color:#555555;
}

.container {
	padding-right:20px;
	padding-left:20px;
}

.region.region-sidebar-first {
	margin-top:1rem;
	margin-bottom:2rem;
}
.region.region-sidebar-first ul {
	margin-left:-10px;
}

.region.region-content {
	margin-top:1rem;
	line-height:1.75em;
}

body.front .region.region-content, body.front .region.region-sidebar-first {
	margin-top:2rem;
}

.main-container {
	width:100%;
	max-width:1280px;
/*	margin-top:3rem;*/
	margin-bottom:5rem;
}

.nobr {
	white-space:nowrap;
}

article img {
	max-width:100% !important;
	height:auto;
}

.footer.container {
	width:100%;
	margin:0;
	padding:0;
	background:#333333;
	border:0;
	color:#ffffff;
}
.footer.container .region-footer {
	width:100%;
	max-width:1280px;
	margin:0 auto 0 auto;
	padding:20px;
	text-align:left;
}
footer.container .region-footer a:link, footer.container .region-footer a:visited {
	color:#ffffff;
	text-decoration:none;
}
footer.container .region-footer a:hover, footer.container .region-footer a:active, footer.container .region-footer a:focus {
	background:inherit;
	color:#ffcb05;
	text-decoration:underline;
}
footer.container .region-footer .umich {
	float:left;
	margin:0 40px 2em 0;
	padding:0;
	white-space:nowrap;
}
footer.container .region-footer .umich a {
	display:block;
	width:142px;
	height:154px;
	background:#00274c url('../images/um-logo-m218.png') no-repeat;
	background-size:contain;
	text-indent:-99999px;
	overflow:hidden;
}
footer.container .region-footer .footer-links {
	float:left;
	margin:0 40px 2em 0;
	padding:0;
	white-space:nowrap;
}
footer.container .region-footer .footer-links ul {
	margin:0 0 0 10px;
	padding:0 0 0 10px;
}
footer.container .region-footer .footer-links ul li {
	color:#555555;
	margin:.5em 0 0 0;
}
footer.container .region-footer .footer-links h2 {
	margin:auto;
	font-size:1em;
	font-family:Roboto,Arial,Helvetica,sans-serif;
	color:#ffffff;
	line-height:inherit;
}

footer.container .region-footer .footer-links .socialmedia {
	margin:.5em 0 1em 0;
}
footer.container .region-footer .footer-links .socialmedia a {
	display:inline-block;
	width:2.75rem;
	height:2.75rem;
	padding-top:.75rem;
	line-height:1rem;
	margin-right:.5em;
	border:1px solid #555555;
	border-radius:100%;
	font-size:1.15rem;
	text-align:center;
}
footer.container .region-footer .footer-links .socialmedia a:hover {
	background:#555555;
	color:#ffffff;
	text-decoration:none;
}
footer.container .region-footer .footer-links .socialmedia a:active, .region-footer .footer-links .socialmedia a:focus {
	background:#0075bc;
	border:1px solid #0075bc;
	color:#ffffff;
	text-decoration:none;
}
footer.container .openid-connect-login-form {
	float:right;
}
footer.container .openid-connect-login-form .btn-default {
	border-color:#555555;
	background-color:transparent;
	font-size:.85em;
	color:#cecbc9;
	vertical-align:middle;
}
footer.container .openid-connect-login-form .btn-default:hover {
	border-color:#555555;
	background-color:#555555;
	color:#f4f3f2;
}
footer.container .openid-connect-login-form .btn-default:active, footer.container .openid-connect-login-form .btn-default:focus {
	border-color:#0075bc;
	background-color:#0075bc;
	color:#ffffff;
	outline:none;
}
footer.container .region-footer #block-copyright {
/*	clear:both;*/
	margin:.5rem 0 0 180px;
	font-size:.85em;
}
@media (max-width:599px) {
	footer.container .region-footer #block-copyright {
		margin:0;
	}
}
footer.container .region-footer #block-copyright a:link, #block-copyright a:visited {
	color:#9b9b9b;
	text-decoration:none;
}
footer.container .region-footer #block-copyright a:hover, footer.container .region-footer #block-copyright a:active, footer.container .region-footer #block-copyright a:focus {
	color:#ffcb05;
	text-decoration:underline;
}


/* fix drupal edit contextual link colors */
footer.container .region-footer .contextual-links a:link, footer.container .region-footer .contextual-links a:visited {
	color:#333333;
}

.openid-connect-login-form {
	margin:0 0 20px 0;
}
.openid-connect-login-form button {
}
.openid-connect-login-form button:before {
/*	content:'\f023\00a0';
	font-family:'Font Awesome 6 Pro';
	font-weight:900;
	line-height:1;*/
}	

footer.container .region-footer .block-openid-connect button {
	display: inline-block;
	margin: 0;
	padding: 7px 15px 7px 15px;
	border: 1px solid #555555;
	border-radius: 7px;
	background: transparent;
	font-size: .8em;
	color: #cecbc9;
}
footer.container .region-footer .block-openid-connect button .glyphicon {
	display:none;
}
footer.container .region-footer .block-openid-connect button:hover {
	border: 1px solid #555555;
	background: #555555;
	color: #ffffff;
	text-decoration: none;
}
footer.container .region-footer .block-openid-connect button:active, footer.container .region-footer .block-openid-connect button:focus {
	border: 1px solid #0075bc;
	background: #0075bc;
	color: #ffffff;
	text-decoration: none;
}

/* admin editor styles */
.tabs--primary.nav.nav-tabs {
	margin-bottom:2rem;
}
body.cke_editable {
	margin:20px !important;
	background:#fffefe !important;
	line-height:150%;
}




